$color-purple: #9b5de5;
$color-pink: #f15bb5;
$color-yellow: #fee440;
$color-blue: #00bbf9;
$color-light-blue: #00bbf9;
$color-back-ground: #f6f2ef;
$breakpoint-xxl: 1200px;
$breakpoint-xl: 1024px;
$breakpoint-md: 767px;
$breakpoint-sm: 576px;