@import "./../styles/variables";
@import "./../styles/mixins";

html,
body {
  margin: 0 auto;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  background-color: $color-back-ground;
  min-height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
}


@include desktop-large {
  .main-container {
    max-width: 1200px;
   
  }
}

@include desktop {
  .main-container {
    max-width: 900px;
  }
}

@include laptop {
  .main-container {
    max-width: 700px;
  }
}


@include tablet {
  .main-container {
    max-width: 100%;
  }
}







